.settingsBackground {
  width: 100vw;
  height: 100vh;
  background-image: url('bgmain.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsContainer {
  position: relative;
  width: 18vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.uppercontainer {
  background-color: yellow;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.redX {
  position: absolute;  
  top: -12px;          
  right: -12px;        
  height: 25px;
  width: 25px;
  color: white;
  background-color: red;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textStyle{
font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 
      -0px -0px 0 black,  
       2px -2px 0 black,
      -0px  0px 0 black,
       2px  2px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowercontainer{
gap: 2vw;
margin-top: 5vh;
color: black;
}

.rangestyle{
accent-color: black;
}

.buttonHolder{
display: flex;
flex-direction: row;
gap: 2vw;
align-items: flex-end;
}

.volumeContainer{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.buttonTemp{
background-color: yellow;
color: white;
text-shadow: 
      -2px -2px 0 black,  
       2px -2px 0 black,
      -2px  2px 0 black,
       2px  2px 0 black;
border-radius: 10%;
padding: 5px;
margin-top: 5vh;
height: 5vh;
}
