body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-image: url('bgmain.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
  
.mainMenu {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 10%;
}
  
.title {
  font-size: 4vw; /* Adjusted for flexibility */
  font-weight: bold;
  color: #FFD700;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.5);
  padding: 1vh 2vw;
  border-radius: 1vw;
}
  
.flareonIcon {
  width: 40vw; /* Adjusted size for responsiveness */
  height: auto; 
}
  
.menuButtons {
  padding: 2vh;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  justify-content: center;
}
  
.menuButton {
  width: 60%; /* Responsive width */
  font-size: 3vw; /* Responsive font size */
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.5);
  padding: 2vh 4vw; /* Adjusted padding */
  border-radius: 1.5vw;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
  
.menuButton:hover {
  background: #FFDD44;
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {



  .menuButton {
    width: 50%;
  }

  .title {
    font-size: 3.5vw;
    padding: 2vh 3vw;
  }
  
  .flareonIcon {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .menuButton {
    font-size: 6vw;
  }


  .title {
    font-size: 5vw;
    padding: 2vh 3vw;
  }

  .flareonIcon {
    width: 80vw;
  }
}
